<div class="row">
  <h2>Look! Your Dashboard</h2>
  <details class="col-md-12 alert alert-info">
    <summary>Learn how to build a custom image classifier</summary>
    <p>With Tensorflow and CoreML, you can quickly deploy a machine learning model on most mobile devices</p>
    <p>Image classifiers include a custom set of labels. Each label needs to be a collection of images and/or videos (.m4v format).</p>
    <p>Check out our guides for some answers to common questions</p>
    <ul>
      <li><a href="#">How do I build a dataset for my model?</a></li>
      <li><a href="#">How do I integrate my mlmodel file into an iOS app?</a></li>
      <li><a href="#">Walkthrough: building a CoreML model in a React Native application</a></li>
      <li><a href="#">Walkthrough: adding a custom tensorflow image classifier</a></li>
    </ul>
  </details>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="">
      <h4>Machine Learning Models</h4>
      <%=  link_to "+ New Image Classifier".html_safe, new_account_classifier_path, { class: "btn btn-success btn-sm float-right" } %>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Last Run</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @classifiers.each do |classifier | %>
            <tr>
              <td>
                <%= classifier.name %>
              </td>
              <td><small><%= classifier.model_type %></small></td>
              <td><%= classifier.last_run_at.to_s %> <small><%= classifier.last_run_job_id %></td>
              <td style="text-align: right">
                <%= link_to "Details", account_classifier_path(classifier), class: "btn btn-sm btn-outline-secondary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Recent Output Files</h4>
    <% @recent_assets.each do |asset| %>
      <a href="<%= account_output_asset_path(asset)  %>"
         class="list-group-item list-group-item-action justify-content-between d-flex lh-condensed" style="">
         <small>
        <i style="font-size: 18px;" class="<%= asset.icon %>"></i>
        <%= asset.name %>
         </small>
        <small><%= asset.classifier.name %> <%= asset.job_id %></small>
      </a>
    <% end %>
  </div>
</div>
