<%= breadcrumb [
  { el: link_to("Dashboard", account_dashboard_path) },
  { el: "Classifiers" },
  { el: @classifier.name, active: true },
] %>
<div class="row main-row bd-content-row">
  <div class="col-md-12">
    <%= render partial: "shared/classifier_header", locals: { classifier: @classifier, active: nil }  %>
    <div class="row bd-content-wrap">
      <div class="col-md-4">
        <%= render partial: "shared/build_cards", locals: { builds: @classifier.classification_jobs, highlighted: nil} %>
      </div>
      <div class="col-md-8">
        <div class="bd-content-scroll">
          <% if @classifier.active_asset_labels.empty? %>
            <div class="alert alert-warning">
              Note: you have no active training images for any active labels.
            </div>
          <% else %>
            <b>Active Labels</b>
          <% end %>
          <% @classifier.active_asset_labels.each_with_index do |label, index| %>
            <%= render partial: 'accordion_label', locals: { classifier: @classifier, index: "ac-#{index}", label: label[0], count: label[1] } %>
          <% end %>
          <b>Inactive Labels</b>
          <% @classifier.inactive_asset_labels.each_with_index do |label, index| %>
            <%= render partial: 'accordion_label', locals: { classifier: @classifier, index: "in-#{index}", label: label[0], count: label[1] } %>
          <% end %>
          <details>
            <summary>Delete</summary>
            <div class="alert alert-danger">
                <p>Warning! Deleting your classifier will permanently destroy the classifier, assets, labels and input files.</p>
              <%= link_to "Delete Classifier", account_classifier_path(@classifier), method: :delete,
                data: { confirm: "Are you sure?" } , class: "btn btn-sm btn-danger" %>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>
