<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Dashboard", account_dashboard_path %></li>
    <li class="breadcrumb-item" aria-current="page">Classifiers</li>
    <li class="breadcrumb-item active" aria-current="page"><%= @classifier.name %></li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-12">
    <h1><%= @classifier.name %></h1>
    <p class="text-muted"><%= @classifier.model_type %></p>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-outline-info" href="<%= account_classifier_input_assets_path(@classifier) %>"><i class="fa fa-tags"></i> Edit Labels</a>
        <a class="btn btn-outline-info" href="<%= account_classifier_input_assets_path(@classifier) %>"><i class="fa fa-images"></i> Edit Training Images</a>
      </div>
    </div>
    <h2>Labels</h2>
    <ul>
      <% @classifier.asset_labels.each do |label| %>
      <li><%= label %></li>
      <% end %>
    </ul>

    <details>
      <summary>Delete</summary>
      <div class="alert alert-danger">
          <p>Warning! Deleting your classifier will permanently destroy the classifier, assets, labels and input files.</p>
        <%= link_to "Delete Classifier", account_classifier_path(@classifier), method: :delete,
          data: { confirm: "Are you sure?" } , class: "btn btn-sm btn-danger" %>
      </div>
    </details>
  </div>
</div>
