<!DOCTYPE html>
<html>
  <head>
    <title>patterngap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Medula+One|Open+Sans|Raleway" rel="stylesheet">
    <%= stylesheet_link_tag 'account', media: 'all' %>
		<%= yield :head_section %>
  </head>

  <body>

		<%= render 'shared/top_navbar_account' %>
    <div class="container-fluid main-container">
      <div class="row flex-xl-nowrap" style="height: 100%">
				<%= render partial: 'shared/job_navbar_account', locals: { classification_jobs: @classification_jobs }  %>
				<main class="col bd-content">
					<%= render 'shared/alerts' %>
					<%= yield %>
				</main>
			</div>
    </div>

  </body>
</html>
