<!DOCTYPE html>
<html>
  <head>
    <title>Pattern Gap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header style="padding-bottom: 60px">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Pattern Gap</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
							<%= link_to "Dashboard", account_dashboard_path, { class: "nav-link" } %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Organization</a>
            </li>
            <li class="nav-item">
							<%= link_to "My Classifiers", account_classifiers_path, { class: "nav-link" } %>
            </li>
            <li class="nav-item">
							<%= link_to "Sign Out", destroy_user_session_path, { method: :delete, class: "nav-link" } %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <%= render 'shared/alerts' %>
			<%= yield %>
    </div>

  </body>
</html>
