
<!DOCTYPE html>
<html>
  <head>
    <title>Zesty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<%= stylesheet_link_tag 'marketing', media: 'all' %>
  </head>

  <body>
    <p class="alert-notice"><%= notice %></p>
    <p class="alert-alert"><%= alert %></p>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Pattern Gap</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="/users/sign_in" >Sign In</a>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
						<%= yield %>
          </main>

        </div>

      </div>

    </div>


  </body>
</html>

